/** Styles for the plugin **/

.path-admin-report-modulecompletion details summary {
    font-size: 2rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

.path-admin-report-modulecompletion .report_modulecompletion_reports .hidable_content {
    height: 0;
    overflow: hidden;
    transition: height 0.5s linear;
}

.path-admin-report-modulecompletion .report_modulecompletion_reports .card-block {
    padding: 1.25rem;
}

.path-admin-report-modulecompletion .report_modulecompletion_reports .progress-bar-wrapper {
    font-size: 0.85rem;
    margin-bottom: 0.25rem;
}

.path-admin-report-modulecompletion .report_modulecompletion_reports .progress,
.path-report-modulecompletion .report_modulecompletion_user_reports .report_user_course .progress {
    height: 0.25rem;
}

/** css print **/

@media print {
    .path-admin-report-modulecompletion .report_modulecompletion_reports .btn {
        display: none;
    }
}
