{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template report_modulecompletion/filter_form_base

    This template renders the filters form elements.

    Example context (json):
    {
        "users": [],
        "cohorts": [],
        "courses": [],
        "only_cohorts_courses_group": 0,
        "starting_date": "2022-12-01",
        "ending_date": "2022-12-31",
        "order_by_column": "student",
        "order_by_type": "asc"
    }
}}
<div style="display:none;">
  {{#hidden}}
    <input type="hidden" name="{{name}}" value="{{value}}" />
  {{/hidden}}
</div>
{{#users}}
  {{> core_form/element-autocomplete-inline }}
{{/users}}
{{#cohorts}}
  {{> core_form/element-autocomplete-inline }}
{{/cohorts}}
{{#only_cohorts_courses_group}}
  {{> core_form/element-group-inline }}
{{/only_cohorts_courses_group}}
{{#courses}}
  {{> core_form/element-autocomplete-inline }}
{{/courses}}
{{#starting_date}}
  {{> core_form/element-date_selector-inline}}
{{/starting_date}}
{{#ending_date}}
  {{> core_form/element-date_selector-inline}}
{{/ending_date}}
{{#order_by_column}}
  {{> core_form/element-select-inline}}
{{/order_by_column}}
{{#order_by_type}}
  {{> core_form/element-select-inline}}
{{/order_by_type}}
{{#save_filter_form}}
  {{> core_form/element-submit-inline }}
{{/save_filter_form}}